
.card-container{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.review-title{
    text-align: center;
    margin: 20px auto;
    color:  #0e76a8;
    font-size: 40px;
    font-weight: 600;
}